.spotlight {
  z-index: 999;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 20px #2696e8,0 0 60px #2696e8,0 0 100px #2696e8;
  pointer-events: none;
  background: #2696e8;
  animation: colors 2s infinite;
  transform: translate(-50%, -50%);
  display: none;
}
@keyframes colors{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}
.spotlight::before{
  content: '';
  position: absolute;
  background: #2696e8;
  height: 50px;
  width: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

.todo-app {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  backdrop-filter: blur(6px);
}

.todo-input {
  display: flex;
  margin-bottom: 10px;
}

.todo-input input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px 0 0 3px;
}

.todo-input button {
  padding: 8px 12px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li button {
  background: none;
  border: none;
  cursor: pointer;
}

.fa-trash {
  color: red;
}

body{
  justify-content: center;
  align-items: center;
  background-image: url('assests/bg.jpg');
  display:flex;
  height: 100vh;
}